* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

header, main, footer {
    width: 100vw;
}

header {
    top: 0;
    position: fixed;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.profile {
    display: flex;
    justify-content: space-around;
    align-items: center;

    max-width: 1000px;
}